<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<style>
body{
    background-color:#d6f0ff;
    font-family: Arial;
    text-align:center;
}
h1{
    color:#003366;
}
.box{
    background:white;
    width:60%;
    margin:auto;
    padding:20px;
    border-radius:10px;
}
</style>
</head>

<body>

<div class="box">
<h1>Selamat Datang di Website Nurul Baeti</h1>

<p>NPM : 24782058</p>
<p>Program Studi : Teknologi Rekayasa Internet</p>
<p>Mata Kuliah : Pemrograman Internet</p>

<p>Ini adalah halaman utama website sederhana menggunakan Django.</p>

<a href="/about/">Halaman About</a> |
<a href="/contacts/">Halaman Contacts</a>

</div>

</body>
</html>