# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# --- Virtual Environment ---
venv/
.env*
*.env

# --- Django ---
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# --- IDE / Editor ---
.vscode/
.idea/
*.swp
*.swo
*~

# --- OS ---
.DS_Store
Thumbs.db
Desktop.ini

# --- Project Specific ---
server_smartcity/.github/
