<!DOCTYPE html>
<html>
<head>
<title>About</title>

<style>
body{
    background-color:#d6f0ff;
    font-family: Arial;
    text-align:center;
}

.box{
    background:white;
    width:60%;
    margin:auto;
    padding:20px;
    border-radius:10px;
}

h1{
    color:#004080;
}
</style>

</head>

<body>

<div class="box">

<h1>About Website</h1>

<p>Website ini dibuat untuk tugas praktikum</p>

<p>Pemrograman Internet</p>

<p>Mahasiswa : Nurul Baeti</p>

<p>NPM : 24782058</p>

<p>Framework yang digunakan adalah Django.</p>

<a href="/">Home</a> |
<a href="/contacts/">Contacts</a>

</div>

</body>
</html>