<!DOCTYPE html>
<html>
<head>
<title>Contacts</title>

<style>

body{
    background-color:#d6f0ff;
    font-family: Arial;
    text-align:center;
}

.box{
    background:white;
    width:60%;
    margin:auto;
    padding:20px;
    border-radius:10px;
}

h1{
    color:#0059b3;
}

</style>

</head>

<body>

<div class="box">

<h1>Contact Information</h1>

<p>Nama : Nurul Baeti</p>

<p>NPM : 24782058</p>

<p>Program Studi : Teknologi Rekayasa Internet</p>

<p>Email : nurul@example.com</p>

<p>Terima kasih telah mengunjungi website ini.</p>

<a href="/">Home</a> |
<a href="/about/">About</a>

</div>

</body>
</html>